<a href="https://colab.research.google.com/github/rakshatm/mllab/blob/main/pr2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:

import pandas as pd


df = pd.read_excel('sales_data.csv')

print(df)

   Customer ID  Gender  Age Product category  Price
0      CUST001    Male   34           Beauty    150
1      CUST002  Female   26         Clothing   1000
2      CUST003    Male   50      Electronics     30
3      CUST004    Male   37         Clothing    500
4      CUST005    Male   30           Beauty    100
5      CUST006  Female   45           Beauty     30
6      CUST007    Male   46         Clothing     50
7      CUST008    Male   30      Electronics    100
8      CUST009    Male   63      Electronics    600
9      CUST010  Female   52         Clothing    200
10     CUST011    Male   23         Clothing    100
11     CUST012    Male   35           Beauty     75
12     CUST013    Male   22      Electronics   1500
13     CUST014    Male   64         Clothing    120
14     CUST015  Female   42      Electronics   2000
15     CUST016    Male   19         Clothing   1500
16     CUST017  Female   27         Clothing    100

In [14]:

df['Tax (18%)'] = df['Price'] * 0.18


print("Updated DataFrame with 'Tax (18%)' column:")
print(df)


df.to_excel('sales_data_with_tax.xlsx', index=False)

print("\nNew column 'Tax (18%)' added and saved to 'sales_data_with_tax.xlsx'.")

Updated DataFrame with 'Tax (18%)' column:
   Customer ID  Gender  Age Product category  Price  Tax (18%)
0      CUST001    Male   34           Beauty    150       27.0
1      CUST002  Female   26         Clothing   1000      180.0
2      CUST003    Male   50      Electronics     30        5.4
3      CUST004    Male   37         Clothing    500       90.0
4      CUST005    Male   30           Beauty    100       18.0
5      CUST006  Female   45           Beauty     30        5.4
6      CUST007    Male   46         Clothing     50        9.0
7      CUST008    Male   30      Electronics    100       18.0
8      CUST009    Male   63      Electronics    600      108.0
9      CUST010  Female   52         Clothing    200       36.0
10     CUST011    Male   23         Clothing    100       18.0
11     CUST012    Male   35           Beauty     75       13.5
12     CUST013    Male   22      Electronics   1500      270.0
13     CUST014    Male   64         Clothing    120       21.6
14     CUST015  Female   42      Electronics   2000      360.0
15     CUST016    Male   19         Clothing   1500      270.0
16     CUST017  Female   27         Clothing    100       18.0

New column 'Tax (18%)' added and saved to 'sales_data_with_tax.xlsx'.